.container {
  width: 500px;
  margin: 0 auto;
}
.title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
}

.faq-item {
  margin-bottom: 2rem;
}

.faq-question {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.faq-answer {
  color: #4b5563;
  line-height: 1.6;
}
  
 