<div class="min-h-screen flex flex-col items-center py-12 px-4 bg-gray-100">
  <div class="max-w-3xl w-full text-center space-y-2 mb-10">
    <h1 class="text-4xl font-bold tracking-tight text-gray-900">Convert Rich Text to Markdown</h1>
    <p class="text-lg text-gray-600">Quickly convert your rich formatted text to Markdown</p>
  </div>
  
  <div class="max-w-3xl w-full"> 
    <div class="flex justify-between mb-2">
      <!-- Placeholder for keyboard shortcut button -->
      <div class="tooltip-container">
        <span class="tooltip-text">Nothing yet</span>
      </div>
    
      <div class="flex gap-2">
        <!-- Convert to Markdown button -->
        <div class="tooltip-container">
          <button 
            class="custom-button"
            aria-label="Convert to Markdown"
            (click)="convertMarkdown()">
            <lucide-angular [img]="RefreshCcw"></lucide-angular>
          </button>
          <span class="tooltip-text">Convert to Markdown</span>
        </div>

        <!-- Copy to Clipboard button -->
        <div class="tooltip-container">
          <button 
            class="custom-button"
            aria-label="Copy to clipboard"
            (click)="copyToClipboard()">
            <lucide-angular [img]="ClipboardCopy"></lucide-angular>
          </button>
          <span class="tooltip-text">Copy Markdown</span>
        </div>

        <!-- Download button -->
        <div class="tooltip-container">
          <button 
            class="custom-button"
            aria-label="Download"
            (click)="downloadMarkdown()">
            <lucide-angular [img]="ArrowDownToLine"></lucide-angular>
          </button>
          <span class="tooltip-text">Download as .md File</span>
        </div>

        <!-- Help button -->
        <div class="tooltip-container">
          <button 
            class="custom-button"
            aria-label="Help"
            (click)="showHelp()">
            <lucide-angular [img]="BadgeHelp"></lucide-angular>
          </button>
          <span class="tooltip-text">Help</span>
          <ng-container *ngIf="isComponentVisible()">
            <app-guide></app-guide>
          </ng-container>
        </div>
      </div>
    </div>

    <!-- RichText Editor Component -->
    <app-richtext #editor></app-richtext>

    
    <!-- Show Markdown content only if showMarkdown() is true -->
    <ng-container *ngIf="showMarkdown()">
      <div #markdownPreview class="markDown-title">Markdown</div>
      <pre class="custom-box">{{ markdownContent() }}</pre>
    
    </ng-container>
  </div>
</div>
